@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Big+Shoulders+Display:wght@200;500;700&family=Commissioner:wght@200;400;500;700&family=Dancing+Script:wght@400;500;700&family=Exo:wght@100&family=Inter:wght@400;500;700;800&family=Josefin+Sans:wght@300&family=Karla:wght@400;500;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@800&family=Outfit:wght@300;400;600&family=Overpass:wght@300;600&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@300;500;600;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,300&family=Roboto:wght@400;700;900&family=Rubik:wght@400;500;700&family=Space+Grotesk:wght@500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(236, 234, 234);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 2rem;    
    box-shadow:  0 0 10px black;
    background-color: rgb(34, 34, 34);
}

header{
    padding: 1rem;
}
.name-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.name{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.contact{
    margin-top: .7rem;
    display: flex;
    align-items: center;
    gap: .6rem;    
    /* flex-wrap: wrap; */
}
.contact li{
    list-style-type: none;
}
.contact li a{
    display: flex;
    align-items: center;
    gap: .2rem;
    color: #beb9b9;
}
.contact li a i{
    color: green;
}
.portfolioLink{
    word-break: break-all;
}



/* main section */
main{
    color: #d8d7d7;
    padding: 1rem .5rem;
}
.main-cont{
    display: grid;
}
.portfolio-sec{
    display: flex;
    align-items: center;
}
.portfolio-sec strong{
    text-transform: capitalize;
    color: #d8d7d7;
}

.my-work{
    margin: 1rem 0;
}
.my-work h3{
    text-transform: capitalize;
    color: #efeded;
    margin-bottom: .4rem;
    letter-spacing: 1px;
}
.my-work h4{
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    letter-spacing: 1px;

}
.my-work .main-ul{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.my-work ul li{
    color: #beb9b9;
    font-size: .9rem;
    line-height: 1.3rem;
}
.my-work ul li a{
    color: rgb(134, 133, 236);
}
/* skills */
.skills-cont-ul{
    display: flex;
    gap: 4rem;
}
.skills-cont-ul ul{
    margin-top: .4rem;
    display: grid;
    gap: .5rem;
}
.skills-cont-ul ul li{
    text-transform: capitalize;
    font-size: .9rem;
}
.education{
    margin-top: 1rem;
}
.education-sub-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.education p{
    font-size: .9rem;
    line-height: 1.4rem;
    margin-top: .6rem;
}


@media (min-width:769px){
    .container{
        width: 45%;
        margin:  0 auto;
    }
   
}


